<html>
    <body>
         Welcome, <b><%= userName %></b>!<br />You are in the administrative area.
         <br/>
         <a href="/logout" >Logout</a><br />
         <a href="/download_manual?userName=<%= userName %>" >Download manual</a><br /> 
    </body>
</html>